  .contact-section {
    padding: 70px 40px;
    background-color: $greybg;
    hr {
      height: 1px;
      background-color: $greybgline;
      border: none;
    }
    h1 {
      color: $accent;
      font-weight: 700;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 20px;
    }
    .contact-form {
      @include flex-center(column);
      button {
        margin-top: 20px;
        background-color: $accent;
        color: white;
        border-radius: 1px;
      }
      .form-field {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 10px 0;
        label {
          font-size: 12px;
          display: inline-block;
          width: 115px;
          margin-right: 10px;
        }
        input, textarea {
          width: 100%;
          padding: 6px;
          border-radius: 0;
          border: 1px solid rgba(0,0,0,0.15);
        }
        .red {
          color: red;
        }
      }
    }
  }

  .dark-section-container.contact-details {
    a, .phone-num {
      color: #a19b9b;
    }
    .socials {
      display: flex;
      a {
        margin: 0 10px;
        &:hover {
          color: #e4dada;
        }
      }
    }
    img {
      transform: translateX(-40px);
      margin-top: 50px;
      width: 100vw;
    }
  }
  
  @media screen and (min-width: 600px) {
    .contact-main-container {
      padding-top: 50px;
      // @include flex-center(row);
      // display: flex;
      .contact-section{
        // width: 50vw;
        max-width: 1200px;
        margin: 0 auto;
      }
      .dark-section-container.contact-details {
        padding-top: 0;
        padding-right: 0;
        // padding-bottom: 70px;
        display: block;
        height: inherit;
        // width: 50vw;
        // align-self: stretch;
        display: flex;
        .contact-info-container {
          width: 50vw;
          max-width: 600px;
          hr {
            width: 43vw;
          }
        }
        img {
          height: 100%;
          transform: none;
          // right: 0;
          height: 700px;
          width: 50vw;
          max-width: 600px;
          // align-self: flex-end;

          object-fit: cover;
          margin: 0;
        }
      }
    }
    

  }
  