.footer-main {
  position: fixed;
  bottom: 0px;
  padding: 15px 0;
  width: 100%;
  z-index: 2;
  color: #fff;
  @include flex-center(row);
  .footer-mobile {
    width: 100%;
    text-align: right;
  }
  button {
    background: white;
    border: 1px solid $accent;
    color: $accent;
    margin-right: 20px;
    @extend %box-shadow;
  }
  .footer-desktop {
    display: none;
  }

}

.footer-hiddent {
  display: none;
}


@media screen and (min-width: 600px) {
  .footer-main {
    background-color: $accent;

    .footer-mobile {
      display: none;
    }
    .footer-desktop {
      display: flex;
      width: 100%;
      form {
        width: 100%;
        @include flex-center(row);
        justify-content: space-around;
        .form-field {
          label {
            margin: 0 10px;
          }
          input {
            color: black;
          }
        }
      }
    }
  }
}
