.real-footer-container {
  @include flex-center(column);
  background-color: $darkbackground;
  color: white;
  padding: 10px 0;
  .footer-links-container {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    @include flex-center(column)
  }
  p {
    color: grey;
    font-size: 10px;
  }
}

@media screen and (min-width: 600px) {
  .real-footer-container {
    .footer-links-container {
      width: 100%;
      max-width: 800px;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}