.hero-container {
  // @include flex-center(column);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 50px 20px;
  color: #fff;
  background-color: $greybg;
  .home-background {
    background: url("../../assets/home-background.jpg");
    background-size: cover;
    background-position: center;
  }
  .light-background {
    background-size: cover;
    background-position: center;
  }
  .home-flex-container {
    margin: 0 7%;
    > * {
      margin-bottom: 30px;
    }
    z-index: 1;
  }
  .home-heading {
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 60px;
  }
  .home-h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .home-p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
  }
}

.home-links-container {
  margin-top: 30px;
  .text-link {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  .hero-container {
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    // padding: 0;
    .home-flex-container {
      max-width: 350px;
    }
    .home-background {
      width: 95%;
      right: 0px;
    }
  }
}

