.nav-bar-main {
  position: fixed;
  top: 0px;
  padding: 20px 15px;
  width: 100%;
  z-index: 2;
  @include flex-center(row);
  justify-content: space-between;
  font-size: 18px;
  background-color: #fff;
  // img {
  //   height: 20px;
  // }
  .logo-container {
    height: 30px;
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    img {
      height: 30px;
    }
    .pentaro-name {
      font-size: 32px;
      font-weight: 700;
    }
  }
  .desktop-navbar {
    display: none;
    a {
      font-weight: 400;
    }
  }
}

.dropdown-options-container {
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
  .options {
    font-size: 24px;
    margin: 5px 0;
    font-weight: 500;
  }
}
.dropdown-heading {
  font-weight: bold;
  font-size: 40px;
  align-self: flex-start;
}

// options drawer
#chakra-modal-\:r3\:, #chakra-modal-\:r1\:{
  background-color: $accent;
  color: white;
  // @include flex-center(column);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  }

  @media screen and (min-width: 600px) {

    .nav-bar-main {
      font-size: 30px;
      background-color: #fff;
      padding: 20px 30px;
      .mobile-navbar {
        display: none;
      }
      .desktop-navbar {
        display: flex;
        align-items: center;
        margin-right: 100px;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
        a {
          margin: 0 20px;
          &:hover {
            color: $accent;
          }
        }
      }
    }

  }
