.nav-bar-main {
  position: fixed;
  top: 0px;
  padding: 15px 0;
  width: 100%;
  z-index: 2;
  @include flex-center(row);
  justify-content: space-between;
}

.dropdown-options-container {
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 5%;
  .options {
    font-size: 24px;
    margin: 5px 0;
    font-weight: 500;
  }
}
.dropdown-heading {
  font-weight: bold;
  font-size: 40px;
  align-self: flex-start;
}

// options drawer
#chakra-modal-\:r3\:, #chakra-modal-\:r1\:{
  background-color: $accent;
  color: white;
  // @include flex-center(column);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  }
