.recruitment-background {
  background-image: url("../../assets/meeting.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 600px) {

  .hero.recruitment-background {
    width: 95%;
    right: 0px;
  }
}