.telemarketing-background {
  background-image: url("../../assets/telemarketing-team.jpg");
  background-size: cover;
  background-position: center;
}

.plain-section-container {
  &.service-option-container {
    padding: 5%;
    .content-container {
      padding: 60px 10%;
    }
    .image-container {
      margin: -5% 10%;
    }
  }
  &.wheel {
    @include flex-center(column);
    padding: 5%;
    .content-container {
      padding: 60px 10%;
    }
  }
}
// .service-option {
//   // background-color: $darkbackground;
//   // color: white;
//   width: 100vw;
//   background-size: cover;
//   .content-container {
//     padding: 50px 40px 0 40px;

//   }
//   hr {
//     height: 1px;
//     background-color: $darkbgline;
//     border: none;
//   }
//   &.dark-container {
//     color: #fff;
//     // background-color: $darkbackground;
//     height: 100vh;
//     hr {
//       height: 1px;
//       background-color: $darkbgline;
//       border: none;
//     }
//     &.customer-service {
//       background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
//         url("../../assets/telemarketing-individual.jpg");
//       background-size: cover;

//     }
//   }
// }

.white-section-container {
  padding: 50px 40px;
  background-color: #fff;
  hr {
    height: 1px;
    background-color: $greybgline;
    border: none;
  }
}

.green-section-container {
  padding: 50px 40px;
  background-color: $accent;
  color: #fff;
  min-height: 90vh;
  hr {
    height: 1px;
    background-color: #fff;
    border: none;
  }
}

.logo-wheel-container {
  @include flex-center(column);
  img {
    transform: none;
    width: 300px;
  }
  .wheel-option {
    h3 {
      font-weight: 600;
      font-size: 8px;
      line-height: 17px;
    }
    // border: 3px solid #fff;
    // @extend %box-shadow;
    // box-shadow: inset 0 0 5px $accent;
    position: absolute;
    @include flex-center(row);
    text-align: center;
    height: 65px;
    width: 65px;
    // color: $accent;
    color: #fff;
    // background-color: $accent;
    border-radius: 50%;
    &:hover {
      // color: $accent;
      // border: 0.3px solid $greybgline;
      @extend %box-shadow;
      background-color: $accent;
      cursor: pointer;
      h3 {
        font-size: 9px;
      }
    }
  }
  .top-left {
    transform: translate(-70px, -107px);
  }
  .top-right {
    transform: translate(70px, -108px);
  }
  .right {
    transform: translate(115px, 26px);
  }
  .bottom {
    transform: translate(3px, 109px);
  }
  .left {
    transform: translate(-113px, 27px);
  }
}




// @media screen and (min-width: 600px) {

//   .pentagon-screen-split-container {

//     @include flex-center(row);
//     .wheel {
//       flex-grow: 1;
//       position: sticky;
//       align-self: flex-start;
//       top: 0;
//       padding-top: 50px;
//     }
//     .plain-section-container.service-option-container {
//       flex-grow: 1;
//       margin-right: 0;
//       .content-container {
//         padding-top: 100px;
//         .dotted-line.offset-left-top {
//           width: 200px;
//           left: auto;
//           right: 0;
//         }
//       }
//     }
//     .service-options-container {
//       .service-option {
//         padding-top: 50px;
//         button {
//           display: none;
//         }
//       }
//     }
//   }
// }