.telemarketing-background {
  background-image: url("../../assets/telemarketing-team.jpg");
  background-size: cover;
  background-position: center;
}

.plain-section-container {
  &.service-option-container {
    padding: 5%;
    .content-container {
      padding: 60px 10%;
    }
    .image-container {
      margin: -5% 10%;
    }
  }
  &.wheel {
    @include flex-center(column);
    padding: 5%;
    .content-container {
      padding: 60px 10%;
    }
  }
}


.white-section-container {
  padding: 50px 40px;
  background-color: #fff;
  hr {
    height: 1px;
    background-color: $greybgline;
    border: none;
  }
}

.green-section-container {
  padding: 50px 40px;
  background-color: $accent;
  color: #fff;
  min-height: 90vh;
  hr {
    height: 1px;
    background-color: #fff;
    border: none;
  }
}

.logo-wheel-container {
  @include flex-center(column);
  img {
    transform: none;
    width: 300px;
  }
  .wheel-option {
    h3 {
      font-weight: 600;
      font-size: 8px;
      line-height: 17px;
    }
    #appointment-text {
      font-size: 7px;
    }
    // border: 3px solid #fff;
    // @extend %box-shadow;
    // box-shadow: inset 0 0 5px $accent;
    position: absolute;
    @include flex-center(row);
    text-align: center;
    height: 65px;
    width: 65px;
    // color: $accent;
    color: #fff;
    // background-color: $accent;
    border-radius: 50%;
    &:hover {
      // color: $accent;
      // border: 0.3px solid $greybgline;
      @extend %box-shadow;
      background-color: $accent;
      height: 85px;
      width: 85px;
      cursor: pointer;
      h3 {
        font-size: 10px;
      }
    }
  }
  .top-left {
    transform: translate(-70px, -107px);
  }
  .top-right {
    transform: translate(73px, -108px);
  }
  .right {
    transform: translate(115px, 26px);
  }
  .bottom {
    transform: translate(3px, 109px);
  }
  .left {
    transform: translate(-113px, 27px);
  }
}




@media screen and (min-width: 600px) {
  .hero.telemarketing-background {
    width: 95%;
    right: 0px;
  }
  .logo-wheel-container {
    img {
      width: 500px;
    }
    
    .wheel-option {
      height: 109px;
      width: 109px;
      h3, #appointment-text {
        font-size: 11px;
        line-height: 18px;
      }

      &.top-left {
        transform: translate(-116.5px, -179px);
      }
      &.top-right {
        transform: translate(122px, -180px);
      }
      &.right {
        transform: translate(191px, 44px);
      }
      &.bottom {
        transform: translate(3px, 181.5px);
      }
      &.left {
        transform: translate(-188px, 44px);
      }
      &:hover {
        height: 130px;
        width: 130px;
        h3 {
          font-size: 14px;
        }
      }
    }
  }
}