
$accent: #52c4b1;
$lightgrey: #EAEAEA;
// $darkbackground: #151C22;
$darkbackground: #082233;
// $darkbgline: #515151;
$darkbgline: #5e6964;
// $greybg: #5e6964;
$greybg: #dce2e7;
$greygrey: #8A8A8A;
$greybgline: #b2afaf;

@mixin flex-center($direction){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

%box-shadow {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.26);
}