.card {
  background-color: #fff;

  &--left {
    padding: 50px 10px 30px 40px;
  }
  &--middle {
    padding: 50px 20px 30px 20px;
  }
  &--right {
    padding: 50px 40px 60px 30px;
  }

  &--wheel {
    padding: 60px 10%;
  }
}

@include respond(tablet) {
  .card {
    max-width: 85rem;
    padding: 8rem 0;
    padding-left: 10rem;
    padding-right: 5rem;

    &--middle {
      width: 60rem;
      margin-left: -30rem;
    }
    &--right {
      margin: 0 7% 0 auto;
    }
  }
}
