.dots {
  border-bottom: 3px dotted $accent;
  position: absolute;

  left: 3px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  width: 3rem;
}

@include respond(desk) {
  .dots {
    width: 12rem;

    &--middle,
    &--right {
      left: auto;
      right: 0;
      width: 20rem;
    }
  }
}

@include respond(enourmous-desk) {
  .dots {
    &--middle,
    &--right {
      width: 30rem;
    }
  }
}
