.image-container {
  position: relative;

  &--left {
    margin: 1rem 2rem -2rem 2rem;
    height: 21rem;
    // height: 40vw;
    width: 29.5rem;
    // width: 90vw;
    // max-width: 50rem;
  }
  &--right {
    margin-left: 10rem;
    margin-top: -4rem;
    height: 20rem;
    // width: calc(100vw - 10rem);
  }

  &--bottom {
    transform: translateX(-4rem);
    margin-top: 5rem;
    height: 24.3rem;
    width: 100vw;
  }
}

@include respond(tablet) {
  .image-container {
    &--left {
      width: 52rem;
      height: 32rem;
      // margin-left: calc(100vw - 54rem);
    }
    &--right {
      margin-top: -5rem;
      margin-left: calc(100vw - 52rem);
      // width: 60vw;
      width: 50rem;
      height: 30rem;
    }
  }
}

@include respond(desk) {
  .image-container {
    &--left {
      height: 45rem;
      width: 40vw;
      margin-left: 0;
    }

    &--bottom {
      height: 90rem;
      width: 50vw;
      max-width: 60rem;
      margin: 0;
      transform: translateX(0);
    }

    &--right {
      height: 45rem;
      width: 60vw;
      margin-left: 38vw;
    }
  }
}

@include respond(enourmous-desk) {
  .image-container {
    &--right {
      margin-left: 0;
    }
  }
}
