.image-container {
  position: relative;

  &--left {
    margin: -20px 20px;
    height: 210px;
    width: 295px;
  }
  &--right {
    margin-left: 100px;
    margin-top: -40px;
  }

  &--bottom {
    transform: translateX(-40px);
    margin-top: 50px;
    height: 243px;
    width: 100vw;
  }
}

@include respond(tablet) {
  .image-container {
    &--left {
      margin-right: -30px;
      height: 450px;
      width: 400px;
    }
    &--right {
      display: flex;
      justify-content: flex-end;
      margin-top: -50px;
      img {
        width: 60vw;
        max-width: 800px;
        max-height: 400px;
      }
    }

    &--bottom {
      height: 700px;
      width: calc(50vw + 0px);
      max-width: 600px;
      margin: 0;
      transform: translateX(-40px);
    }
  }
}
