.section {
  width: 100vw;
  background-size: cover;

  &--left {
    padding: 20px 40px 20px 0;
  }

  &--middle {
    padding: 20px;
  }

  &--center {
    padding: 5%;
    @include flex-center(column);
  }

  &--right {
    padding: 20px 0 20px 20px;
  }
}

@include respond(tablet) {
  .section {
    max-width: 120rem;
    margin: 0 auto;

    &--left {
      padding-left: 40px;
    }

    &--middle {
      @include flex-center(row);
    }

    &--right {
      padding-bottom: 100px;
    }
  }
}
