*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// *:focus-visible {
//   // outline: 3px solid $colour-primary-dark;
//   outline-offset: 2px;
// }

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

@include respond(big-desk) {
  html {
    font-size: 85%;
  }
}
