@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
* {
  font-family: 'Montserrat', sans-serif;
}

.heading1 {
  font-weight: bold;
  font-size: 4.4rem;
  margin-bottom: 6rem;

  &__hero {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.4rem;
    margin-bottom: 6rem;
  }

  &__contact {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 2rem;
  }
}

.heading2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 2rem;

  &__hero {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2.8rem;
    width: 28.8rem;

    &--home {
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }
}

.heading3 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 2rem 0;

  &--wheel-option {
    font-weight: 600;
    font-size: 8px;
    line-height: 17px;
  }

  &--values {
    font-size: 2.5rem;
  }
}

.heading-number {
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
}
.paragraph {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2.2rem;
  margin: 2rem 0;

  &--values {
    font-size: 1.4rem;
  }
}

.accent {
  color: $accent;
}

.pentaro-name {
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 700;

  &__logo {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }

  &__mobile-nav {
    font-size: 4rem;
    align-self: flex-start;
    color: #fff;
  }
}

.link {
  font-size: 1.6rem;
}

.line-break {
  height: 1px;
  background-color: $greybgline;
  border: none;
  margin: 1rem 0;

  &--dark {
    background-color: $greybgline;
  }
}

@include respond(tablet) {
  .heading2 {
    &:not(.heading2__hero) {
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
    &__hero {
      width: auto;
    }
  }

  .heading3 {
    font-size: 3.2rem;
    line-height: 4rem;
    margin: 4rem 0;

    &--wheel-option {
      font-size: 11px;
      line-height: 18px;
    }

    &--values {
      margin-left: 6rem;
    }
  }

  .paragraph {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin: 4rem 0;

    &--values {
      width: 40rem;
      font-size: 1.4rem;
    }
  }

  .heading-number {
    font-size: 24px;
  }

  .link {
    &:not(.navigation__item, .link__back-to-top) {
      font-size: 2.4rem;
    }
  }
}
