@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
* {
  font-family: 'Montserrat', sans-serif;
}

.heading1 {
  font-weight: bold;
  font-size: 4.4rem;
  margin-bottom: 6rem;

  &__hero {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.4rem;
    margin-bottom: 6rem;
  }
}

.heading2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 2rem;

  &__hero {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2.8rem;
    width: 28.8rem;

    &--home {
      font-weight: 600;
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }
}

.headingh3 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 2rem 0;
}
.paragraph {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2.2rem;
  margin-top: 2rem;
}

.accent {
  color: $accent;
}

.pentaro-name {
  font-family: 'Reem Kufi', sans-serif;
  font-weight: 700;

  &__logo {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }

  &__mobile-nav {
    font-size: 4rem;
    align-self: flex-start;
    color: #fff;
  }
}

.link {
  font-size: 1.7rem;
}

@include respond(tablet) {
  .heading2 {
    &__hero {
      width: auto;
    }
  }

  .link {
    &--hero {
      font-size: 2.4rem;
    }
  }
}
