$accent: #52c4b1;
$lightgrey: #eaeaea;
// $darkbackground: #151C22;
$darkbackground: #082233;
// $darkbgline: #515151;
$darkbgline: #5e6964;
// $greybg: #5e6964;
$greybg: #dce2e7;
$lightgreybg: #f2f6f9;
$greygrey: #8a8a8a;
$greybgline: #b2afaf;

%box-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.26);
}
